{% extends "zinnia/base.html" %}
{% load i18n comments zinnia_tags %}
{% load cycle from future %}

{% block title %}{{ object.title }}{% endblock title %}

{% block meta-description %}{{ object.excerpt|safe }}{% endblock meta-description %}

{% block meta-keywords %}{% if object.tags %}{{ object.tags }}{% else %}{{ block.super }}{% endif %}{% endblock meta-keywords %}

{% block link %}
  {{ block.super }}
  {% with previous_entry=object.previous_entry %}{% if previous_entry %}
  <link rel="prev" title="{{ previous_entry.title }}" href="{{ previous_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  {% with next_entry=object.next_entry %}{% if next_entry %}
  <link rel="next" title="{{ next_entry.title }}" href="{{ next_entry.get_absolute_url }}" />
  {% endif %}{% endwith %}
  <link rel="shortlink" href="{{ object.short_url }}" />
  <link rel="canonical" href="{{ object.get_absolute_url }}" />
  {% with year=object.creation_date|date:"Y" month=object.creation_date|date:"m" day=object.creation_date|date:"d" %}
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of discussions on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_discussion_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of comments on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_comment_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of pingbacks on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_pingback_feed' year month day object.slug %}" />
  <link rel="alternate" type="application/rss+xml" title="{% trans "RSS Feed of trackbacks on" %} '{{ object.title }}'"
        href="{% url 'zinnia_entry_trackback_feed' year month day object.slug %}" />
  {% endwith %}
{% endblock link %}

{% block body-class %}entry entry-{{ object.pk }}{% if object.featured %} featured{% endif %} year-{{ object.creation_date|date:"Y" }} month-{{ object.creation_date|date:"m" }} week-{{ object.creation_date|date:"W" }} day-{{ object.creation_date|date:"d" }}{% endblock body-class %}

{% block content %}

{% block entry-content %}
  {% include object.content_template with object_content=object.html_content %}
{% endblock entry-content %}

{% block entry-widgets %}
<div class="entry-widgets">
  {% block entry-next-entry %}
  {% with next_entry=object.next_entry %}
  {% if next_entry %}
  <div class="entry-next">
    <h3>{% trans "Next entry" %}</h3>
    <p>
      <a href="{{ next_entry.get_absolute_url }}" title="{{ next_entry.title }}" rel="next">
        {{ next_entry.title }}
      </a>
    </p>
  </div>
  {% endif %}
  {% endwith %}
  {% endblock entry-next-entry %}
  {% block entry-previous-entry %}
  {% with previous_entry=object.previous_entry %}
  {% if previous_entry %}
  <div class="entry-previous">
    <h3>{% trans "Previous entry" %}</h3>
    <p>
      <a href="{{ previous_entry.get_absolute_url }}" title="{{ previous_entry.title }}" rel="prev">
        {{ previous_entry.title }}
      </a>
    </p>
  </div>
  {% endif %}
  {% endwith %}
  {% endblock entry-previous-entry %}
  {% block entry-related-entries %}
  {% with entry_related=object.related_published %}
  {% if entry_related %}
  <div class="entry-related">
    <h3>{% trans "Related entries" %}</h3>
    <ul>
      {% for entry in entry_related %}
      <li>
	<a href="{{ entry.get_absolute_url }}" title="{{ entry.title }}" rel="bookmark">{{ entry.title }}</a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  {% endwith %}
  {% endblock entry-related-entries %}
  {% block entry-similar-entries %}
  <div class="entry-similar">
    <h3>{% trans "Similar entries" %}</h3>
    {% get_similar_entries %}
  </div>
  {% endblock entry-similar-entries %}
</div>
{% endblock entry-widgets %}
{#{% block entry-comments %}#}
{#<div id="comments">#}
{#  <h3>{% trans "Comments" %}</h3>#}
{#  {% if object.comment_count %}#}
{#  {% with comment_list=object.comments %}#}
{#  {% block comments-loop %}#}
{#  <ol id="comment-list">#}
{#    {% for comment in comment_list %}#}
{#    <li id="comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"#}
{#        class="comment vcard {% cycle box1,box2 %}{% if comment.user %} authenticated-comment{% if comment.user.is_staff %} staff-comment{% endif %}{% if comment.user.is_superuser %} superuser-comment{% endif %}{% endif %}">#}
{#      {% block comment-image %}#}
{#      <img src="{% get_gravatar comment.email 60 "G" %}"#}
{#           class="gravatar photo" alt="{{ comment.name }}" />#}
{#      {% endblock comment-image %}#}
{#      {% block comment-info %}#}
{#      <p class="comment-info">#}
{#	{% if comment.url %}#}
{#	<a href="{{ comment.url }}" rel="external nofollow"#}
{#           class="fn url">{{ comment.name }}</a>#}
{#	{% else %}#}
{#	<span class="fn">{{ comment.name }}</span>#}
{#	{% endif %}#}
{#	{% trans "on" context "on date" %}#}
{#        <abbr class="comment-published" title="{{ comment.submit_date|date:"c" }}">#}
{#          {{ comment.submit_date|date:"SHORT_DATETIME_FORMAT" }}#}
{#        </abbr>#}
{#        <a href="#comment-{{ comment.pk }}-by-{{ comment.user_name|slugify }}"#}
{#           id="c{{ comment.pk }}" class="anchor-link"#}
{#           title="{% trans "Direct link to this comment" %}">#</a>#}
{#      </p>#}
{#      {% endblock comment-info %}#}
{#      {% block comment-content %}#}
{#      {{ comment.comment|linebreaks }}#}
{#      {% endblock comment-content %}#}
{#    </li>#}
{#    {% endfor %}#}
{#  </ol>#}
{#  {% endblock comments-loop %}#}
{#  {% endwith %}#}
{#    {% if not object.comments_are_open %}#}
{#  <p>{% trans "Comments are closed." %}</p>#}
{#    {% endif %}#}
{#  {% else %}#}
{#    {% if object.comments_are_open %}#}
{#  <p>{% trans "No comments yet." %}</p>#}
{#    {% else %}#}
{#  <p>{% trans "Comments are closed." %}</p>#}
{#    {% endif %}#}
{#  {% endif %}#}
{#</div>#}
{#{% endblock entry-comments %}#}

{#{% block entry-comments-form %}#}
{#{% if object.comments_are_open %}#}
{#  {% render_comment_form for object %}#}
{#{% endif %}#}
{#{% endblock entry-comments-form %}#}

{% endblock content %}

{% block admin-tools %}
{% if perms.zinnia.change_entry %}
<li>
  <a href="{% url 'admin:zinnia_entry_change' object.pk %}" title="{% trans "Edit the entry" %}">
    {% trans "Edit the entry" %}
  </a>
</li>
{% endif %}
{% endblock admin-tools %}
