@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container {
    width: 731px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1010px;
  }
}
* {
  font-family: 'Myriad Pro', 'PT Sans', sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: 'Myriad Pro Cond', 'PT Sans Narrow', sans-serif !important;
  font-weight: bold!important;
  font-stretch: condensed!important;
  text-align: left;
  color: #e95b2b;
}
h1 {
  font-size: 45px;
}
p {
  font-size: 16px;
}
a,
a:hover {
  color: #e95a2a;
}
.active {
  color: #524c46 !important;
}
.top-nav {
  background: -moz-linear-gradient(left, rgba(239, 239, 238, 0.5) 0%, rgba(239, 239, 238, 0.18) 52%, rgba(255, 255, 255, 0.11) 63%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(239, 239, 238, 0.5)), color-stop(52%, rgba(239, 239, 238, 0.18)), color-stop(63%, rgba(255, 255, 255, 0.11)), color-stop(80%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0)));
  background: -webkit-linear-gradient(left, rgba(239, 239, 238, 0.5) 0%, rgba(239, 239, 238, 0.18) 52%, rgba(255, 255, 255, 0.11) 63%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background: -o-linear-gradient(left, rgba(239, 239, 238, 0.5) 0%, rgba(239, 239, 238, 0.18) 52%, rgba(255, 255, 255, 0.11) 63%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background: -ms-linear-gradient(left, rgba(239, 239, 238, 0.5) 0%, rgba(239, 239, 238, 0.18) 52%, rgba(255, 255, 255, 0.11) 63%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  background: linear-gradient(to right, rgba(239, 239, 238, 0.5) 0%, rgba(239, 239, 238, 0.18) 52%, rgba(255, 255, 255, 0.11) 63%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80efefee', endColorstr='#00ffffff', GradientType=1);
}
.top-nav .container {
  padding: 0!important;
}
.nav-pills li {
  background-color: transparent !important;
}
.nav-pills a {
  text-align: left;
  padding-left: 0!important;
  color: #e95a2b;
  line-height: 120%;
  font-size: 16px;
  font-family: 'Myriad Pro', 'PT Sans', sans-serif;
  background-color: transparent !important;
}
.nav-pills span {
  font-style: italic;
}
.benefits p {
  font-size: 17px;
  line-height: 120%;
  max-width: 596px;
}
.benefits h1 {
  padding-top: 29px;
  line-height: 100%;
  margin-bottom: 8px;
}
.benefitsLinks {
  background-color: #efefee;
  text-align: center;
  width: 100%;
}
@media (min-width: 992px) {
  .benefitsLinks .col-md-2 {
    width: 19%;
  }
}
.benefitsLinks .container {
  background-color: #efefee;
  padding: 7px 0;
}
.benefitsLinks .container .row {
  background-color: #efefee;
  margin: 0!important;
}
.benefitsLinks img {
  margin: 20px 5px 5px 5px;
}
@media (min-width: 992px) {
  .benefitsLinks .col-md-offset-1 {
    margin-left: 4.5%;
  }
}
.becomeTP {
  padding: 56px 0 37px 0;
}
.btn-wrap {
  background-color: #f4f2f3;
  width: 422px;
  height: 86px;
  border-radius: 9px;
  -moz-box-shadow: inset 0px 1px 5px 0px #b4b3b3;
  -webkit-box-shadow: inset 0px 1px 5px 0px #b4b3b3;
  box-shadow: inset 0px 1px 5px 0px #b4b3b3;
  text-align: center;
}
.btn-success {
  margin: 8px auto;
  text-align: center;
  background-image: -moz-linear-gradient(50% 0% -90deg, #ff7226 0%, #e95c2b 100%);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #ff7226), color-stop(1, #e95c2b));
  background-image: -webkit-linear-gradient(-90deg, #ff7226 0%, #e95c2b 100%);
  background-image: -o-linear-gradient(-90deg, #ff7226 0%, #e95c2b 100%);
  background-image: -ms-linear-gradient(-90deg, #ff7226 0%, #e95c2b 100%);
  background-image: linear-gradient(-90deg, #ff7226 0%, #e95c2b 100%);
  width: 408px;
  height: 72px;
  border-radius: 9px ;
  border: 0px;
  box-shadow: inset 0px 0px 1px 0px #5ebc45;
  font-family: 'Myriad Pro Cond', 'PT Sans Narrow', sans-serif !important;
  font-size: 40px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: -1px;
  line-height: 120%;
  color: #ffffff !important;
  text-shadow: 0px 1px 1px rgba(102, 102, 102, 0.75);
}
.btn-text {
  font-family: 'Myriad Pro Cond', 'PT Sans Narrow', sans-serif !important;
  font-size: 40px;
  font-weight: bold;
  font-stretch: condensed;
  letter-spacing: -1px;
  line-height: 120%;
}
.btn-text:hover {
  text-decoration: none;
}
.btn-text h2 {
  margin: 26px 0;
  color: #999898 !important;
}
.row.principles {
  margin: 15px 0 28px 0;
}
.row.principles img {
  margin-top: 13px;
  margin-left: -8px !important;
}
.row.principles .text {
  adding: 0 27px;
}
.footer {
  padding: 40px 0;
  background-color: #efefee;
  height: 120px;
  margin-top: 40px;
}
.footer p {
  font-size: 14px;
  letter-spacing: 0pt;
  line-height: 145%;
}
.footer select {
  background-color: #999898;
  width: 120px;
  height: 28px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: 0;
  font-family: 'Myriad Pro', 'PT Sans', sans-serif;
  font-size: 16px;
  line-height: 120%;
  color: #ffffff;
  text-align: center;
  padding-left: 10px;
}
.content {
  padding-bottom: 75px;
}
.shopper-page .tp-became {
  width: 7%;
  padding: 0;
}
.shopper-page .control-form {
  width: 14%;
  padding-left: 45px;
}
.shopper-page .principles img {
  margin-top: 20px;
  margin-left: 0px !important;
}
.shopper-page .principles p {
  max-width: 339px;
}
.shopper-page .advantage h1,
.shopper-page .order h1,
.shopper-page .advantage h2,
.shopper-page .order h2,
.shopper-page .advantage h3,
.shopper-page .order h3,
.shopper-page .advantage h4,
.shopper-page .order h4,
.shopper-page .advantage a,
.shopper-page .order a,
.shopper-page .advantage a:hover,
.shopper-page .order a:hover {
  color: #006eb7;
}
.shopper-page .order .tp-became img {
  margin-top: 37px;
  margin-left: -8px !important;
}
.shopper-page .order .row.principles {
  margin-bottom: 0;
}
.shopper-page .order h1 {
  font-size: 60px;
  line-height: 96%;
  margin-top: 27px;
}
.shopper-page .order .order-img img {
  margin-top: 7px;
  margin-left: 57px !important;
}
.shopper-page .order .btn-success {
  background-image: -moz-linear-gradient(50% 0% -90deg, #0078c7 0%, #006fb7 100%);
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #0078c7), color-stop(1, #006fb7));
  background-image: -webkit-linear-gradient(-90deg, #0078c7 0%, #006fb7 100%);
  background-image: -o-linear-gradient(-90deg, #0078c7 0%, #006fb7 100%);
  background-image: -ms-linear-gradient(-90deg, #0078c7 0%, #006fb7 100%);
  background-image: linear-gradient(-90deg, #0078c7 0%, #006fb7 100%);
}
.shopper-page .order .becomeTP {
  padding: 75px 0 69px 0;
}
.shopper-page .order .evelen_columns {
  margin-bottom: 50px;
}
.shopper-page .order .evelen_columns .col-sm-4 img,
.shopper-page .order .evelen_columns .col-md-4 img {
  margin: 15px 15px 0 0px!important;
  float: right;
}
.shopper-page .order .evelen_columns .col-sm-7,
.shopper-page .order .evelen_columns .col-md-7 {
  padding: 0!important;
}
.shopper-page .advantage {
  background-color: #efefee;
  height: 374px;
  text-align: center;
}
.shopper-page .advantage h2 {
  padding: 47px 0 37px 0;
}
.shopper-page .advantage .col-md-9 {
  padding-left: 0!important;
  padding-right: 0!important;
}
.shopper-page .advantage img {
  margin-bottom: 11px;
}
.shopper-page .advantage .active {
  color: #006db7 !important;
}
.shopper-page .advantage p {
  font-size: 17px;
  padding-top: 3px;
  color: #6a6767;
  text-align: center;
}
