
@media only screen and (min-width: 768px) and (max-width: 959px) {
  .container{
    width: 731px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1010px;
  }
}

@fontHeader: 'Myriad Pro Cond', 'PT Sans Narrow', sans-serif;
@fontP: 'Myriad Pro', 'PT Sans', sans-serif;

* {
  font-family:@fontP;
}

h1, h2, h3, h4{
  font-family: @fontHeader!important;
  font-weight: bold!important;
  font-stretch:condensed!important;
  text-align:left;
  color:rgb(233,91,43);
  letter-spacing: -0.4pt;
}

h1{
  font-size:45px;
}

p{
  font-size: 16px;
}

a, a:hover{
  color:rgb(233,90,42);
}
.active{
  color:rgb(82,76,70) !important;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.top-nav{
  background: -moz-linear-gradient(left,  rgba(239,239,238,0.5) 0%, rgba(239,239,238,0.18) 52%, rgba(255,255,255,0.11) 63%, rgba(255,255,255,0) 80%, rgba(255,255,255,0) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(239,239,238,0.5)), color-stop(52%,rgba(239,239,238,0.18)), color-stop(63%,rgba(255,255,255,0.11)), color-stop(80%,rgba(255,255,255,0)), color-stop(100%,rgba(255,255,255,0)));
  background: -webkit-linear-gradient(left,  rgba(239,239,238,0.5) 0%,rgba(239,239,238,0.18) 52%,rgba(255,255,255,0.11) 63%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
  background: -o-linear-gradient(left,  rgba(239,239,238,0.5) 0%,rgba(239,239,238,0.18) 52%,rgba(255,255,255,0.11) 63%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
  background: -ms-linear-gradient(left,  rgba(239,239,238,0.5) 0%,rgba(239,239,238,0.18) 52%,rgba(255,255,255,0.11) 63%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
  background: linear-gradient(to right,  rgba(239,239,238,0.5) 0%,rgba(239,239,238,0.18) 52%,rgba(255,255,255,0.11) 63%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%);
  .container{
    padding: 0!important;
  }
}

.nav-pills {
  li {
    background-color: transparent !important;
  }
  a {
    text-align: left;
    padding-left: 0!important;
    color:rgb(233,90,43);
    line-height: 120%;
    font-size: 16px;
    font-family: @fontP;
    background-color: transparent !important;
  }
  span{
    font-style: italic;
  }
}
.benefits{

  .row .principles img {
    margin: 0;
    margin-top: 7px;
    width: 170px;
  }
  .benefits-picture{
    img{
      margin-left: -8px;
      margin-bottom: -27px;
      z-index: 10;
    }
  }
  p{
    color: #544B48;
    font-size: 17px;
    line-height: 120%;
    max-width: 592px;
    margin-bottom: 0;
     }
  h1{
   /* padding-top: 28px; */
    padding-top: 16px;
    line-height: 100%;
   /* margin-bottom: 8px; */
    margin-bottom: 24px;
    letter-spacing: 0.3pt;
    font-stretch:condensed;
  }

  @media  (max-width: 959px){
    h1{
      padding-top: 19px!important;
    }
    p{
      margin-bottom: 10px!important;
    }
  }
}

.becomeBlock {
      padding-left: 0;
}

.benefitsLinks {
  @media (min-width: 992px) {
    .col-md-2 {
      width: 15%;
      padding: 0;
    }
  }

  @media (min-width: 992px) {
    .col-md-offset-1 {
      margin-left: 9.7%;
    } }
  background-color: rgb(239, 239, 238);
  text-align: center;
  width: 100%;

  .container {
    background-color: rgb(239, 239, 238);
    padding: 7px 0;
    z-index: 20;
    position: relative;
  .row{
    background-color: rgb(239, 239, 238);
    margin: 0!important;
		ul {
			text-align: left !important;
			font-size: 16px !important;
		}
		ul {
			margin-bottom:14px !important;
			margin-left: -22px !important;
		}
		p.bottomLine {
			margin-bottom:0 !important;
		}
		h3 {
			color: #635C58 !important;
			.leftCol {
			margin-left: -15px !important;
			}
		}
  }
  }
  ;

  img {
  margin: 20px 5px 7px 5px;
  }
  .smallMenu{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: -55px;
    margin-bottom: 55px;
    span {
      font-size: 15px;
    }
    img {
      margin: 26px 11px 25px 0;
    }
  }
}

.becomeTP{
  padding:47px 0 14px 0;
	.btn-wrap {
		width:316px;
		height:72px;
		.btn-success {
			padding:10px !important;
			font-size:30px;
			/* width:302px; */
			height:60px;
			margin-top:6px;
			margin-bottom:6px;
		}
		.btn-success.buttonTry{
			width: 302px;
		}
	}
	.btn-text{
		h4{
			margin:25px 0;
			color: #999898 !important;
			letter-spacing:normal;
		}
	}
}
.btn-wrap{
  background-color:rgb(244,242,243);
  -moz-box-shadow:inset 0px 1px 5px 0px rgb(180,179,179);
  -webkit-box-shadow:inset 0px 1px 5px 0px rgb(180,179,179);
  box-shadow:inset 0px 1px 5px 0px rgb(180,179,179);
  text-align: center;
  width:374px;
  height:74px;
  border-radius:8px ;
}

.btn-success{
  background-image:-moz-linear-gradient(50% 0% -90deg,rgb(255,114,38) 0%,rgb(233,92,43) 100%);
  background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(255,114,38)),color-stop(1, rgb(233,92,43)));
  background-image:-webkit-linear-gradient(-90deg,rgb(255,114,38) 0%,rgb(233,92,43) 100%);
  background-image:-o-linear-gradient(-90deg,rgb(255,114,38) 0%,rgb(233,92,43) 100%);
  background-image:-ms-linear-gradient(-90deg,rgb(255,114,38) 0%,rgb(233,92,43) 100%);
  background-image:linear-gradient(-90deg,rgb(255,114,38) 0%,rgb(233,92,43) 100%);
  width:360px;
  height:60px;
  border-radius:8px ;
  font-size:36px;
  font-weight:bold;
  font-stretch:condensed;
  line-height:120%;
  margin: 8px auto;
  padding: 7px!important;
  font-family:@fontHeader!important;
  text-align: center;
  border: 0px;
  color: #fff!important;
  letter-spacing: -0.3pt;
}

.btn-text{
  font-size:25px!important;
  font-weight:bold;
  font-stretch:condensed;
  line-height:120%;
  color:rgb(153,152,152);
  text-align:left;
  font-family:@fontHeader!important;
  letter-spacing:-1px;
  &:hover{
    text-decoration: none;
  }
  h2{
    margin: 27px 0 27px 32px;
    color: #999898 !important;
    letter-spacing: -0.3pt;
    font-size:25px;
  }
}

.blank .text .cms_plugin {
    margin: 15px 0 28px 0;
    display: block;
  }

.row.principles {
   margin: 13px 0 28px 0;
   img {
     margin: 0;
     margin-top: 7px;
     width: 170px;
      display: block;
      max-width: 100%;
      height: auto;
   }

  @media (min-width: 992px) {
    .col-md-2 {
      padding: 0!important;
    }
   .text{
      padding: 0 0px 0 48px;}
  }


  .text{
    h2{
      margin-top: 16px;
    }
    p{
      margin: 15px 0 8px 0;
      line-height: 125%;
    }
  }
}
.blank .row.principles {
  @media (min-width: 992px) {
   .text{
      padding: 0 0px 0 0;
   }
  }
}
.footer{
    .container{
      padding: 2px 10px 0 0;
    }
    padding: 39px 0;
    background-color:rgb(239,239,238);
    height: 120px;
    margin-top: 40px;
    p{
      font-size:14px;
      letter-spacing:0pt;
      line-height:157%;
    }
    select{
      background-color:rgb(153,152,152);
      width: 120px;
      height: 28px;
      border-radius: 5px;
      border: 0;
      font-family: @fontP;
      font-size: 16px;
      line-height: 120%;
      color:rgb(255,255,255);
      text-align: center;
      padding: 3px 3px 3px 10px!important;
      margin-top: 2px;
    }
}
.content {
  padding: 0;
  padding-bottom: 70px;
}


.shopper-page{

  @media (min-width: 992px) {
    .btn-text h2 {
      margin: 26px 0 27px 31px;
    }
    .col-md-4.control{
      width: 35%;
    }
    .control-form{
      width: 13%;
      margin-left: 66px;
    }
  }
  .control-form{
    padding-left: 0;
    margin-right: 7px;
  }
  .benefits-picture img{
    margin-left: -8px;
  }
  .benefits h1 {
    font-size: 40px;

  }
  .benefitsLinks.text {
    color: #524B46
  }
  .tp-became{
    width: 10.4%;
    padding: 0;
    img{
      width: 88%;
    }
  }

  .row.principles {
    margin: 28px 0;
		.firstBlock {
			padding-left:7px;
			img {
				width:79px;
				max-width:inherit;
			}
		}
		.anotherBlocks{
			padding-left:7px;
			img {
				width:80px;
				max-width:inherit;
			}
		}

  }

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                              .principles{
    h2{
      margin-top: 22px;
      margin-bottom: 17px;
    }
    img {
      margin-top: 20px;
      margin-left: 0px !important;
      display: block;
      max-width: 100%;
      height: auto;
    }
    p {
      max-width: 339px;
      letter-spacing:0pt;
      line-height:125%;
    }
    .col-md-4{
      padding: 0;
    }
  }

  .advantage, .order, .book_research{
    h1, h2, h3, h4, a, a:hover{
      color:rgb(0,110,183);
    }
  }

  .becomeTP {
      .container .row {
        margin-left: -30px;
      }
    }

  .order{
    margin-top: 28px;
    @media (min-width: 992px) {
      .col-md-1{
        width: 9.5%;
        img{
          margin-top: 29px;
          width: 100%;
          margin-left: -16px;
        }
      }
      .col-md-5{
        padding: 0 0px 0 9px;
        width: 37%;
      }

      .order-img img {
        margin-top: 3px;
        margin-left: 57px !important;
      }
    }
    .col-md-1{
      img{
        margin-top: 36px;
        margin-left: -12px;
        display: block;
        max-width: 100%;
        height: auto;
      }
    }
    img{
        margin-top: 36px;
        margin-left: -12px;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .tp-became  img {
      margin-top: 37px;
      margin-left: -8px !important;
    }

    h1{
      padding-top: 10px;
      margin-left: 3px;
      font-size: 64px;
      line-height: 90%;
    }



    .becomeTP {
      padding: 75px 0 69px 0;

      .container .row {
        margin-left: -30px;
      }
    }

    .footer{

    }
  }


  .advantage{
    background-color:rgb(239,239,238);
    height:290px;
    text-align: center;
    @media  (min-width: 992px){
      .col-md-2 {
        width: 20.4%;
      }
    }
    h2{
      font-size: 30px;
      padding: 11px 0 31px 12px;
      letter-spacing: -0.3pt;
      color: #999898;
    }
    .col-md-9{
      padding-left: 0!important;
      padding-right: 0!important;
    }
    img {
      margin: 0 auto;
      margin-bottom: 10px;
    }
    .active{
      color:rgb(0,109,183)!important;
    }
    p{
      font-size:17px;
      padding-top: 3px;
      color:rgb(106,103,103);
      text-align:center;
    }
    a:hover {
      color: #6a6767  /*orest*/
    }
  }
  .right-sidebar-item {
    line-height: 1.8;
  }
}

.container.book_research{
  padding: 11px 0 40px 0;
}
.book_research{
  .btn-wrap{
    width:340px;
  }
  .btn-success{
    font-size: 32px!important;
    width:326px;
    letter-spacing: -0.3pt;
    background-image:-moz-linear-gradient(50% 0% -90deg,rgb(0,120,199) 0%,rgb(0,111,183) 100%);
    background-image:-webkit-gradient(linear,50% 0%,50% 100%,color-stop(0, rgb(0,120,199)),color-stop(1, rgb(0,111,183)));
    background-image:-webkit-linear-gradient(-90deg,rgb(0,120,199) 0%,rgb(0,111,183) 100%);
    background-image:-o-linear-gradient(-90deg,rgb(0,120,199) 0%,rgb(0,111,183) 100%);
    background-image:-ms-linear-gradient(-90deg,rgb(0,120,199) 0%,rgb(0,111,183) 100%);
    background-image:linear-gradient(-90deg,rgb(0,120,199) 0%,rgb(0,111,183) 100%);
  }
  .becomeTP{
    padding: 40px 0 45px 0;
  }

  @media  (min-width: 992px){
    .paragraph{
      .col-md-4{
        width: 30%;
        padding: 0;
        margin-right: 10px;
        img{
          margin-top: 12px;
          margin-left: 12px;
        }
      }
      .col-md-8{
        padding: 0;
        width: 60%;
        padding-left: 3%;
        p{
          letter-spacing: 0pt;
          line-height: 125%;
          margin-top: 23px;
        }
      }
    }
  }
}



.clients {
  background-color: #fdfdfd;
  padding-bottom: 23px;
  margin-bottom: 70px;
  .container .row {
    background-color: #fdfdfd;
}  h3{
    font-size:20px;
    letter-spacing:0pt;
    line-height:115%;
    color:rgb(153,152,152);
    margin: 13px 0 20px 13px;
  }
  img{
    padding-left: 14px;
  }
  .doud{
    padding-left: 0;
    margin-left: -32px;
  }
  .libertyImg{
    padding-left: 0;
  }
}

/*for page blog.html*/

.shopper{
  &.container{
    padding: 0;
  }
  h1,h2,h3{
    color:rgb(0,108,183);
  }

  h1{
    font-size: 45px;
    letter-spacing: 0.3pt;
    color: #006cb7;
    text-align: left;
    padding: 27px 0 0px 0;
  }
  p {
      margin-top: -3px;
      line-height: 125%;
  }
}

.type{
  background-color:rgb(239,239,238);
  text-align: left;
  padding: 28px 0 9px 0;
  .container{
    background-color:rgb(239,239,238);
    padding: 0!important;
  }
  img{
    max-width: 72px;
    margin-left: 35px;
    margin-bottom: 6px;
  }

  @media  (min-width: 992px){
    .col-md-2 {
      width: 20.4%;
    }
  }
  p{
    margin-left: 3px;
    font-size: 17px;
  }
  .activePage{
    color: rgb(0,110,183)!important;
  }
}

.booking{
  padding: 36px 0 18px 0;
  h2 {
    margin: 25px 0 27px 61px;
  }
  .btn-success{
    padding: 9px!important;
    a{
      margin: 9px;
    }
  }
  @media  (max-width: 991px){
    .btn-text{
      h2{
        margin-left: 0!important;
      }
    }
  }
  @media  (min-width: 992px){
    .btn-text h2{
      padding-left: 29px;
    }
  }
}

.book_research{
  p{
    line-height: 125%;
    padding-top: 6px;
  }
}
.mysteryShopper{
  padding-bottom: 88px;
}

.activePage{
  color: rgb(0,110,183)!important;
}

#articl div:last-child{
  margin-left: -22px;
}
#articl{
  @media  (max-width: 700px){
    p{
      text-align: center;
    }
  }
  /*begin orest*/
  a p {
    color: #333;
  }
  a:hover {
    color: #333;
  }
  /*end orest*/
}
/*end page blog.html*/
