{% load cms_tags sekizai_tags menu_tags staticfiles compress %}
<!DOCTYPE html>
<html>
<head>
    <title>{% page_attribute page_title %}</title>
    {% render_block "css" %}
    <!--<meta name="viewport" content="width=device-width, initial-scale=1.0">-->
    <meta charset="utf-8">
    <meta name="description" content="{% page_attribute meta_description %}"/>
    {% block keywords %}<meta name="keywords" content="{% page_attribute meta_keywords %}" />{% endblock %}

    <!-- OpenGraph -->
    <meta property="og:url" content="http://www.msp4.me">
    <meta property="og:description" content="{% page_attribute meta_description %}">
    <meta property="og:title" content="{% page_attribute page_title %}" />
    <meta property="og:image" content="http://www.msp4.me/media/design-a/img/leg_euro_02_part.png"/>
    <meta property="og:type" content="website" />

    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@msp4me" />
    <meta name="twitter:title" content="{% page_attribute page_title %}" />
    <meta name="twitter:description" content="{% page_attribute meta_description %}" />
    <meta name="twitter:image" content="http://www.msp4.me/media/design-a/img/leg_euro_02_part.png" />
    <meta name="twitter:url" content="http://www.msp4.me" />

    <!-- Windows 8 -->
    <meta name="application-name" content="{% page_attribute page_title %}"/>
    <meta name="msapplication-TileColor" content="#ffffff"/>
    <meta name="msapplication-square70x70logo" content="http://www.msp4.me/media/img/windows8/tiny.png"/>
    <meta name="msapplication-square150x150logo" content="http://www.msp4.me/media/img/windows8/square.png"/>
    <meta name="msapplication-wide310x150logo" content="http://www.msp4.me/media/img/windows8/wide.png"/>
    <meta name="msapplication-square310x310logo" content="http://www.msp4.me/media/img/windows8/large.png"/>

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ MEDIA_URL }}design-a/img/favicon.ico"/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
{#    <script type="text/javascript" src="{{ STATIC_URL }}js/geo.js"></script>#}

    <link href='//fonts.googleapis.com/css?family=PT+Sans&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=PT+Sans+Narrow&subset=latin,cyrillic' rel='stylesheet'
          type='text/css'>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    {% if debug %}
        <link type="text/less" rel="stylesheet" href="{{ STATIC_URL }}css/style.less">
        <script src="//cdnjs.cloudflare.com/ajax/libs/less.js/1.7.0/less.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_URL }}js/geo.js"></script>
    {% else %}
    {% compress css %}
        <link rel="stylesheet" type="text/less" href="{% static 'css/style.less' %}" >
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/geo.js'%}"></script>
    {% endcompress %}
    {% endif %}
    {#START GOOGLE-ANALYTICS#}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-54313302-1', 'auto');
      ga('send', 'pageview');

    </script>
{#END GOOGLE-ANALYTICS#}


</head>

<body class="">
{% cms_toolbar %}
<div class="top-nav">
    <div class="container">
        <div class="row" itemscope itemtype="http://ruschema.org/SiteNavigationElement">
            {% static_placeholder "pageTopLine" "Home" %}
            <div class="col-sm-2 col-md-2 ">
                <ul class="nav nav-pills pull-right">
                    <li><a href="" itemprop="url" id="signInLink" data-toggle="modal" data-target="#myModal">Войти</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% block base_head %}
    <div class="container">
    <div class="row shopper-page"> {% comment %}added "shopper-page" class here to fix view of the image{% endcomment %}
        <div class="row benefits" itemscope="Thing">
            <div id="headText" class="col-xs-8 col-sm-8 col-md-9">
                {% placeholder "pageHeader" %}
            </div>
            <div class="benefits-picture col-xs-4 col-sm-4 col-md-3" id="headImg">
                {% placeholder "pageHeaderImg" or %}
{#                    {% static_placeholder "pageHeaderImgStatic" %}#}
                    <img itemprop="image" src="{{ MEDIA_URL }}design-a/img/leg_clean_02_part.png" alt="foot"/>
                {% endplaceholder %}
{#                <img src="{{ MEDIA_URL }}img/mystery/foot_part.gif" alt="screen" class="img-responsive" ><!--width="213" height="210" -->#}
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block main_nav %}
<div class="shopper-page">
    <div class="benefitsLinks">
        <div class="container">
            <div class="row">
                {% show_menu 0 100 1 1 "top-menu.html" %}
            </div>
        </div>
    </div>
</div>

    <div class="container becomeBlock">
    <div class="row becomeTP">
        <div class="col-sm-5 col-sm-offset-0 col-md-offset-0 col-md-5">
        <!--<div class="col-xs-6">-->
            <div class="btn-wrap">
                <a class="btn btn-lg btn-success buttonTry" id="signInButton" href="" role="button" data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event', 'button', 'click', 'become_tp');">
                        Попробовать сейчас!
                </a>
            </div>
        </div>
        <div class="col-sm-6 col-sm-offset-0 col-md-offset-0 col-md-6">

            <span class="action-subheader">
{#                регистрация через соцсети#}
                {% static_placeholder "pageAuthFacebook" %}
            </span>
        </div>
    </div>
</div>


<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="myModalLabel" class="modal-title">Войти через</h4>
      </div>
      <div class="modal-body text-center">
        <ul class="list-inline">
          <li><a href="http://shopper.msp4.me/auth/facebook" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via facebook" src="{{ MEDIA_URL }}img/icons/facebook.png"/><br/>Facebook</a></li>
          <li><a href="http://shopper.msp4.me/auth/google" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via google" src="{{ MEDIA_URL }}img/icons/google.png"/><br/>Google</a></li>
          <li><a href="http://shopper.msp4.me/auth/mailru" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via mailru" src="{{ MEDIA_URL }}img/icons/mailru_128_sh.png"/><br/>Mail.ru</a></li>
          <li><a href="http://shopper.msp4.me/auth/yandex" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via yandex" src="{{ MEDIA_URL }}img/icons/yandex_128.png"/><br/>Yandex</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block base_content %}{% endblock %}

<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 col-xs-9 col-md-10">
                <p>Mystery Shopping Platform 2015  Copyright ©
                    <br> All rights reserved</p>
            </div>
            <div class="col-sm-2 col-xs-3 col-md-2">
                <p class="pull-right hidden"><select size="1">
                    <option value="English" disabled>English</option>
                    <option value="Ukrainian" disabled>Ukrainian</option>
                    <option selected value="Russian">Russian</option>
                </select></p>
                <a href="https://mixpanel.com/f/partner"><img src="//cdn.mxpnl.com/site_media/images/partner/badge_light.png" alt="Mobile Analytics" /></a>
            </div>
        </div>
    </div>
</div>


{% render_block "js" %}

<!-- Start SiteHeart code -->
<script>
    (function () {
        var widget_id = 731819;
        _shcp = [
            {widget_id: widget_id}
        ];
        var lang = (navigator.language || navigator.systemLanguage
                || navigator.userLanguage || "en")
                .substr(0, 2).toLowerCase();
        var url = "widget.siteheart.com/widget/sh/" + widget_id + "/" + lang + "/widget.js";
        var hcc = document.createElement("script");
        hcc.type = "text/javascript";
        hcc.async = true;
        hcc.src = ("https:" == document.location.protocol ? "https" : "http")
                + "://" + url;
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hcc, s.nextSibling);
    })();
</script>
<!-- End SiteHeart code -->
</body>
</html>
