{% extends "base.html" %}
{% load cms_tags %}

{#{% block base_head %}#}
{#{% endblock %}#}

{% block base_content %}
<div class="container content">
  <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            {% placeholder "benefitsImg1" %}
{#            <img src="{{ MEDIA_URL }}img/mystery/more.gif" alt="Идём напрямик" title="Идём напрямик" width="133" height="98" class="img-responsive">#}
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            {% placeholder "benefitsText1" %}
        </div>
    </div>

    <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            {% placeholder "benefitsImg2" %}
{#            <img src="{{ MEDIA_URL }}img/mystery/earn_more.gif" alt="Зарабатываем больше" title="Зарабатываем больше" width="133" height="98" class="img-responsive">#}
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            {% placeholder "benefitsText2" %}
        </div>
    </div>

    <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            {% placeholder "benefitsImg3" %}
{#            <img src="{{ MEDIA_URL }}img/mystery/rating.gif" alt="Каждому по рейтингу" title="Каждому по рейтингу" width="133" height="98" class="img-responsive">#}
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            {% placeholder "benefitsText3" %}
        </div>
    </div>

    <div class="row principles">
        <div class="col-sm-2 col-xs-2 col-md-2">
            {% placeholder "benefitsImg4" %}
{#            <img src="{{ MEDIA_URL }}img/mystery/moment_paid.gif" class="img-responsive" alt="moment paid">#}
        </div>
        <div class="col-xs-10 col-sm-10 col-md-10 text">
            {% placeholder "benefitsText4" %}
        </div>
    </div>

</div> <!-- /container -->

{% endblock %}