{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{#{% block base_head %}#}
{#    <div class="container">#}
{#        <div class="row">#}
{#            <div class="row benefits">#}
{#                <div class="col-sm-9 col-md-9">#}
{#                    {% placeholder "pageHeader" %}#}
{#                </div>#}
{#                <div class="benefits-picture col-sm-3 col-md-3">#}
{#                    <img src="{{ MEDIA_URL }}img/mystery/foot_part.gif" alt="Наши преимущества" title="Наши преимущества" class="img-responsive" width="213" height="210"><!--width="213" height="210" -->#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}

{% block base_content %}
<div class="container content blank">
  <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            {% placeholder "pageContent" %}
        </div>

  </div>

</div> <!-- /container -->

{% endblock %}