{% extends "base.html" %}
{% load cms_tags %}

{% block base_content %}
<div class="container content text-center contacts">
{#{% placeholder "contacts" %}#}
    <h2>Связаться с нами:</h2>
    <ul class="pagination pagination-lg">
        <li class="" id="UA1"><a href="#UA" data-toggle="tab">Украина</a></li>
        <li id="USA1" ><a href="#USA"data-toggle="tab">США</a></li>
        <li id="RU1"><a href="#RU"  data-toggle="tab">Россия</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane" id="UA">
            <p class="lead">+38 (050) 52 62 967</p>
            <p>г. Полтава, ул. М. Бирюзова, 51-Б</p>
            <p>
                <span><a href="mailto:info@msp4.me">info@msp4.me </a></span>
                <span><a href="http://www.msp4.me">http://msp4.me</a></span>
            </p>

            <div class="container">
                {% placeholder "map" %}
            </div>
        </div>
        <div class="tab-pane" id="USA">
{#            <p class="lead">+38 (050) 52 62 967</p>#}
            <p>New-York</p>
            <p>
                <span><a href="mailto:info@msp4.me">info@msp4.me </a></span>
                <span><a href="http://www.msp4.me">http://msp4.me</a></span>
            </p>

            <div class="container">
                {% placeholder "map" %}
            </div>
        </div>
        <div class="tab-pane" id="RU">
{#            <p class="lead">+38 (050) 52 62 967</p>#}
            <p>Москва</p>
            <p>
                <span><a href="mailto:info@msp4.me">info@msp4.me </a></span>
                <span><a href="http://www.msp4.me">http://msp4.me</a></span>
            </p>

            <div class="container">
                {% placeholder "map" %}
            </div>
        </div>
    </div>



</div> <!-- /container -->
<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                {% placeholder OurClientsHeader %}
{#                <h3>Наши клиенты</h3>#}
            </div>

            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://medtest.com.ua"><img src="/media/img/mystery/medtest.png" class="img-responsive" alt="MedTest"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://cloud-europe.ru"><img src="/media/img/mystery/doud.png" class="img-responsive doud" alt="doud-europe"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://libertyads.me"><img src="/media/img/mystery/LibertyAds.png" class="img-responsive libertyImg" alt="LibertyAds"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://timedoctor.com.ua"><img src="/media/img/mystery/TimeDoctor.png" class="img-responsive" alt="TimeDoctor"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}