{% extends "base.html" %}
{% load cms_tags %}

{% block base_head %}
    <div class="container">
        <div class="row">
            <div class="row benefits">
                <div class="col-sm-9 col-md-9">
                    <h1>Наши преимущества</h1>
                    <p>Создавая и развивая наш сервис, мы даем каждому клиенту только лучшее —
                        источник и размер дополнительного дохода теперь зависит только от вас.
                        Наши преимущества — ваша выгода.</p>
                </div>
                <div class="benefits-picture col-sm-3 col-md-3">
                    <img src="{{ MEDIA_URL }}img/mystery/foot_part.gif" alt="Наши преимущества" title="Наши преимущества" class="img-responsive" width="213" height="210"><!--width="213" height="210" -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_content %}
<div class="container content">
  <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Миссия тайного покупателя</h2>
            <p>В современной повседневной жизни – человек не может не быть Покупателем, а любая покупка/услуга, так или
                иначе, сопровождается сервисом. Метод исследования сервиса</p>
            <em>«Тайный Покупатель» (Mystery Shopping) существует для оценки уровня и улучшения качества предоставляемого
                сервиса, что включает в себя сбор информации о конкретных случаях обслуживания в сервисных организациях.
                Мы приглашаем Вас стать Тайным Покупателем и улучшить качество предоставляемых услуг и товаров  в Вашем
                городе и даже стране.</em>
        </div>
    </div>

    <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Проверка сотрудников контрольной закупкой</h2>
            <p>Работодателям довольно часто приходится сталкиваться с недобросовестной и некачественной работой своих
                сотрудников. В таких случаях, одним из наиболее распространённых способов проверки, который может помочь
                выявить факты обмана, является проверка сотрудников Контрольной закупкой. Это метод проверки, при котором
                Тайный Покупатель, осведомлённый, при каких обстоятельствах обычно происходит обман, приходит на точку и
                совершает покупку как обычный клиент.</p>
        </div>
    </div>
    <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Миссия тайного соискателя</h2>
            <p>Тайныйный соискатель — это специально обученный человек, который пытается устроиться на работу на самые
                востребованные должности (к примеру: менеджер, продавец, секретарь, администратор, ассистент и т.д.) и
                после подробно докладывает  о том, какие требования к будущим работникам предъявляют ещё на этапе первого
                собеседования и что обещают взамен.</p>
        </div>
    </div>
    <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Миссия тайного звонящего</h2>
            <p>Тайный звонящий - это специально проинструктированный человек, который оценивает качество телефонных консультаций
                и уровень профессионализма операторов, контактируя с персоналом компании и, под видом обычного клиента,
                консультируется по продукту или осуществляет заказ. Он отмечает выполнение или невыполнение стандартов сервиса,
                его качество и профессионализм консультанта согласно целям исследования.</p>
            <p>После консультации заполняется анкета, по которой можно проводить полноценный анализ, как и при обычном визите
                Тайного Покупателя.</p>
        </div>
    </div>
    <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Бенчмаркинг (Анализ конкурентов)</h2>
            <p>
                Бенчмаркинг процесса обслуживания - это метод исследования, которое  направлено на выяснение причин успешности
                конкурирующих компаний, с дальнейшим изучением, усовершенствованием и адаптацией методов работы. Он одновременно
                и в равной степени включает в себя два процесса: <em>оценивание и сопоставление.</em>
            </p>
            <h3>При проведении бенчмаркинга можно выделить следующие этапы:</h3>
            <ul>
                <li>Определение объекта</li>
                <li>Выбор партнёра</li>
                <li>Поиск информации</li>
                <li>Анализ</li>
                <li>Внедрение</li>
            </ul>
        </div>
    </div>
    <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Опросы</h2>
            <p>Это  метод  маркетингового исследования, который заключается в опросе на основе заранее разработанного
                опросного листа и бывает следующих видов:</p>
            <ul>
                <li>Уличный опрос</li>
                <li>Опрос на выходе из магазина</li>
                <li>Квартирный опрос</li>
            </ul>
            <p>К преимуществам этого метода можно отнести то, что он позволяет применять метод как квартирного, так и
                уличного опроса в любых доступных регионах и позволяет задать большее, по сравнению с телефонным опросом,
                количество вопросов, обеспечивая при этом возможность предоставить отвечающему визуальную информацию или
                тексты для чтения, что обеспечивает больший уровень понимания.</p>
        </div>
    </div>

</div> <!-- /container -->

{% endblock %}