{% extends "our-services.html" %}
{% load cms_tags %}

{% block services_content %}
        <h2>Тайный покупатель(mystery shopping)</h2>

        <p>Тайный Покупатель - это специально подготовленный сотрудник компании MS, который проводит проверку
            непосредственно с розничной точки от лица потенциальных/реальных клиентов и подробно докладывает о
            результатах проверки. Полученная информация может использоваться для разработки методов улучшения сервиса и
            для материальной мотивации персонала, благодаря привязке уровня вознаграждения к уровню выполнения
            стандартов обслуживания.</p>

        <p>Контрольная закупка — это мнимая сделка купли-продажи между организацией и физическим лицом с целью проверки
            соблюдения правил и качества предоставляемого сервиса.</p>

{% endblock %}