{% extends "our-services.html" %}
{% load cms_tags %}

{% block services_content %}
        <h2>Тайный Звонящий</h2>

    <p>Методика использования тайных звонящих - позволяет оценить деятельность менеджеров отдела продаж, консультантов
        интернет-магазинов, абонентских или справочных служб, работу call-центров, служб послепродажного обслуживания и
        технической поддержки клиентов, и др. На основании отчётов по результатам проведения программы “Тайный звонящий”
        вы сможете реально оценить качество работы консультантов и выявить проблемные места.</p>

{% endblock %}