{% extends "our-services.html" %}
{% load cms_tags %}

{% block services_content %}
        <h2>Методы оценки эффективности персонала с помощью тайного соискателя</h2>

    <p>Главная задача Тайных соискателей – это разработка системы оценок персонала, которая позволяет изучить степень
        подготовленности работника и определить уровень его возможностей. Тайный соискатель наблюдает и докладывает о
        поведении, отношении и выполнении трудовой этики, описывает проблемные места, характерные для вашей компании.</p>

{% endblock %}