{% extends "our-services.html" %}
{% load cms_tags %}

{% block services_content %}
        <h2>Бенчмаркинг процесса обслуживания</h2>

    <p>Бенчмаркинг можно рассматривать как одно из направлений стратегически ориентированных маркетинговых исследований.
        Это процесс определения, понимания и адаптации имеющихся примеров эффективного функционирования компании для
        улучшения собственной работы. Обычно, за образец принимают продукцию и маркетинговый процесс, используемые
        прямыми конкурентами и фирмами, работающими в других подобных областях, для выявления возможных способов
        совершенствования собственных продуктов и методов работы.</p>

{% endblock %}