{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block base_head %}
<div class="container shopper">
    <div class="row">
        <div class="col-xs-7 col-sm-7 col-md-7">
            {% placeholder "pageHeader" %}
        </div>

        <div class="col-xs-5 col-sm-5 col-md-5 order-img">
            <img src="{{ MEDIA_URL }}img/mystery/blog_header.png" class="img-responsive" alt="">
        </div>

    </div>
</div>
{% endblock %}

{% block main_nav %}
<div class="type">
    <div class="container">
        <div id="articl" class="row">
            {% show_menu 1 0 0 0 "top-submenu.html" %}
        </div>
    </div>
</div>
{% endblock %}

{% block base_content %}
<div class="shopper-page">
    <div class="container book_research">
        <div class="row becomeTP">
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-5">
                    <div class="btn-wrap">
                        <a class="btn btn-lg btn-success" href="#" role="button" onclick="Zenbox.init({dropboxID:   '20289013'}); window.Zenbox.show(); return false;">Заказать исследование</a>
                    </div>
                </div>
                <div class="col-xs-10 col-xs-offset-1 col-sm-10 col-sm-offset-1 col-md-offset-0 col-md-7">

                    <a class="btn-text" href="#" role="button"><h2>Посмотреть примеры исследований</h2></a>
                </div>
        </div>

        <div class="container content">
          <div class="row">
                <div class="col-sm-9">
                    {% block services_content %}
                        {% placeholder "servicesContent" %}
                    {% endblock %}
                </div>
                <div class="col-sm-3">
                    <div style="margin-top: 0px;" class="right-sidebar services"><h3>Методы исследований</h3>
                            {% show_menu 1 0 0 0 "submenu.html" %}
                    </div>
                </div>
            </div>
        </div> <!-- /container -->
    </div>
</div>

{% addtoblock "js" %}
{#Begin zendesk code#}
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20289013",
      url:         "https://isells.zendesk.com",
      tabTooltip:  "Сервис",
      tabImageURL: "https://p1.zdassets.com/external/zenbox/images/tab_ru_service_right.png",
      tabColor:    "#e65b2a",
      tabPosition: "Right",
      hide_tab:    "true"
    });
  }
</script>
{#End zendesk code#}

{% endaddtoblock %}

{% endblock %}

