{% extends "base.html" %}
{% load cms_tags %}

{% block base_head %}
    <div class="container">
        <div class="row">
            <div class="row benefits">
                <div class="col-sm-9 col-md-9">
                    <h1>Наши преимущества</h1>
                    <p>Создавая и развивая наш сервис, мы даем каждому клиенту только лучшее —
                        источник и размер дополнительного дохода теперь зависит только от вас.
                        Наши преимущества — ваша выгода.</p>
                </div>
                <div class="benefits-picture col-sm-3 col-md-3">
                    <img src="{{ MEDIA_URL }}img/mystery/foot_part.gif" alt="Наши преимущества" title="Наши преимущества" class="img-responsive" width="213" height="210"><!--width="213" height="210" -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block base_content %}
<div class="container content">
  <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Для жителей России</h2>
            <p>ОПТИМАЛЬНЫЙ: Оплана на пластиковую карту любого банка, через систему PayPal</p>
            <p>УДОБНЫЙ: Пополнением счета мобильного телефона. Если Вы сделали 1-2 визита, Вы можете заказать выплату на
                мобильный телефон!</p>
        </div>
    </div>
    <div class="row principles">
        
        <div class="col-sm-12 col-md-12 text">
            <h2>Для жителей Украины</h2>
            <p>ОПТИМАЛЬНЫЙ: пополнением карты ПриватБанка. Вы получаете оплату прямо на карточку, можете использовать
                деньги при покупках или снять в любом из около 19000 банкоматов по всей Украине! Даже если у Вас нет
                карты ПриватБанка – рекомендуем получить ее бесплатно для удобства взаиморасчетов!</p>
            <p>БЫСТРЫЙ: денежный перевод ПРИВАТМАНИ. Вы получаете оплату с паспортом в любом из более 3000 отделении
                ПриватБанка по всей Украине.</p>
            <p>УДОБНЫЙ: Пополнением счета мобильного телефона. Если Вы сделали 1-2 визита, Вы можете заказать выплату на мобильный телефон!</p>
        </div>
    </div>
    <p><a role="button" href="http://www.msp4.me/auth/facebook" class="become-mystery-shopper-btn rc3">Стать тайным покупателем</a></p>

</div> <!-- /container -->

{% endblock %}