{% extends "base.html" %}
{% load cms_tags sekizai_tags menu_tags %}

{% block keywords %}
    <meta name="keywords" content="тайный покупатель, подработка, работа для тайных покупателей, работа для студентов, mystery shopping, тайный соискатель, тайный звонящий, онлайн исследование" />
{% endblock %}

{% block main_nav %}
    <div class="shopper-page">
        <div class="benefitsLinks text">
            <div class="container">
                <div class="row">
                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        {% placeholder "topTextInfo1" %}
                    </div>

                    <div class="col-xs-6 col-sm-6 col-md-6 ">
                        {% placeholder "topTextInfo2" %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container becomeBlock">
    <div class="row becomeTP">
        <!--<div class="col-sm-4 col-sm-offset-0 col-md-offset-0 col-md-4">-->
        <div class="col-xs-5">
            <div class="btn-wrap">
                <a class="btn btn-lg btn-success buttonTry" id="signInButton" href="" role="button" data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event', 'button', 'click', 'become_tp');">
                        Попробовать сейчас!
                </a>
            </div>
        </div>
        <!--<div class="col-sm-6 col-sm-offset-0 col-md-offset-0 col-md-6">-->
        <div class="col-xs-6">
            <span class="action-subheader">
                {% static_placeholder "pageAuthFacebook" %}
            </span>
        </div>
    </div>
</div>

<div id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
        <h4 id="myModalLabel" class="modal-title">Войти через</h4>
      </div>
      <div class="modal-body text-center">
        <ul class="list-inline">
          <li><a href="http://shopper.msp4.me/auth/facebook" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via facebook" src="/media/img/icons/facebook.png"/><br/>Facebook</a></li>
          <li><a href="http://shopper.msp4.me/auth/google" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via google" src="/media/img/icons/google.png"/><br/>Google</a></li>
          <li><a href="http://shopper.msp4.me/auth/mailru" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via mailru" src="/media/img/icons/mailru_128_sh.png"/><br/>Mail.ru</a></li>
          <li><a href="http://shopper.msp4.me/auth/yandex" onclick="ga('send', 'event', 'button', 'click', 'registration');"><img alt="signin via yandex" src="{{ MEDIA_URL }}img/icons/yandex_128.png"/><br/>Yandex</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block base_content %}
<div class="shopper-page">
    <div class="container content">

    <div class="row principles">
        <div class="col-xs-1 col-sm-1 col-md-1 firstBlock">
                <span class="plugin_picture">
{#            {% placeholder "shopperImg1" %}#}
<img src="{{ MEDIA_URL }}design-a/img/directpath1.png" alt="стать тайным покупателем"
     title="Работа Тайный Покупатель что это"/>
</span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            {% placeholder "shopperText1" %}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
                <span class="plugin_picture">
{#                {% placeholder "shopperImg2" %}#}
                    <img src="{{ MEDIA_URL }}design-a/img/msp4-money1.png" alt="тайный гость Россия"/>
                </span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            {% placeholder "shopperText2" %}
        </div>
        <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
            <span class="plugin_picture">
{#            {% placeholder "shopperImg3" %}#}
                <img src="{{ MEDIA_URL }}design-a/img/reward1.png" alt="тайный гость Россия"/>
            </span>
        </div>
        <div class="col-xs-3 col-sm-3 col-md-3">
            {% placeholder "shopperText3" %}
        </div>
    </div>
</div>

    <div class="benefitsLinks">
        <div class="smallMenu container">
            <div class="row">
                {% show_menu 0 100 1 1 "top-menu-small.html" %}
            </div>
        </div>
    </div>

<div class="container order">
    <div class="row">
        <div class="col-xs-1 col-sm-1 col-md-1">
            {% placeholder "orderImg" %}
{#            <img src="{{ MEDIA_URL }}img/mystery/order.gif" alt="Заказать  исследование" title="Заказать  исследование" class="img-responsive" width="66" height="68">#}
        </div>
        <div class="col-xs-5 col-sm-6 col-md-6">
            {% placeholder "orderText" %}
{#            <h1>Заказать  исследование!</h1>#}
        </div>

        <div class="col-xs-6 col-sm-5 col-md-5 order-img">
            {% placeholder "orderImg_mg" %}
{#            <img src="{{ MEDIA_URL }}img/mystery/order_mg.gif" alt="Заказать  исследование" title="Заказать  исследование" class="img-responsive" height="207" width="485">#}
        </div>

    </div>
</div> <!-- /container -->

<div class="advantage">
    <div class="container">
{#        <div class="row">#}
{#            <div class="col-xs-11 col-xs-offset-1 col-sd-11 col-sm-offset-1 col-md-11 col-md-offset-1">#}
{#                {% placeholder "researchOffersHeader" %}#}
{#                <h2>Исследования, которые мы проводим</h2>#}
{#            </div>#}
{#        </div>#}
        <div class="row advwrapper">
            <div class="row col-sm-6">
                <div class="row col-sm-3"><img src="{{ MEDIA_URL }}img/mystery/mystery_shopper.gif" alt="Тайный Покупатель" width="75" height="68" class="img-responsive"></div>
                <div class="col-sm-9">
                    <a href="/our-services/mystery-shopping"><h3>Тайный Покупатель</h3></a>
                    <ul>
                        <li>Автосалоны</li>
                        <li>Аптеки</li>
                        <li>Банки / финансовые учереждения</li>
                        <li>Государственные учреждения</li>
                        <li>Кафе / рестораны</li>
                        <li>Магазины одежды</li>
                        <li>Магазины техники</li>
                        <li>Медицинское обслуживание</li>
                        <li>Салоны красоты</li>
                        <li>Сети АЗС</li>
                        <li>Страховые компании</li>
                        <li>Супермаркеты, магазины</li>
                        <li>Сфера услуг</li>
                        <li>Услуги почты</li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-5 col-sm-offset-1">
                 <div class="row">
                    <div class="col-sm-3"><img
                            src="{{ MEDIA_URL }}img/mystery/analysis.gif" alt="Анализ конкурентов (Benchmarking)"
                            width="75"
                            height="68" class="img-responsive"></div>
                    <div class="col-sm-9">
                        <a href="/our-services/internet-issledovanie"><h3>Онлайн исследования</h3></a>
                        <ul>
                            <li>Интернет магазины</li>
                            <li>Информационные сервисы</li>
                            <li>Корпоративные сайты</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><img
                            src="{{ MEDIA_URL }}img/mystery/callers.gif" alt="Тайный Звонящий" width="75" height="68"
                            class="img-responsive"></div>
                    <div class="col-sm-9">
                        <a href="/our-services/mystery-caller"><h3>Тайный Звонящий</h3></a>
                        <ul>
                            <li>Call-центры</li>
                            <li>Службы поддержки</li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3"><img
                            src="{{ MEDIA_URL }}img/mystery/networks.gif" alt="Тайный Соискатель" width="75" height="68"
                            class="img-responsive"></div>
                    <div class="col-sm-9">
                        <a href="/our-services/mystery-applicant"><h3>Тайный Соискатель</h3></a>
                        <ul>
                            <li>HR-отдел</li>
                            <li>Проверка конкуренов</li>
                        </ul>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="container book_research">
    <div class="row becomeTP">
        <!--<div class="col-sm-11 col-sm-offset-1 col-md-offset-0 col-md-6">-->
        <div class="col-xs-5">
{#            {% placeholder OrderResearchBtn %}#}
            <div class="btn-wrap">
                <a class="btn btn-lg btn-success" href="#" onclick="Zenbox.init({dropboxID:   '20289013'}); window.Zenbox.show(); ga('send', 'event', 'button', 'click', 'order_research');
                return false;" role="button">Провести исследование</a>
            </div>
        </div>
        <!--<div class="col-sm-11 col-sm-offset-1 col-md-offset-0 col-md-6">-->
        <div class="col-xs-6">

            <!--<a class="btn-text" href="#" role="button">-->
                <span class="action-subheader" id="clients-action-btn">{% placeholder viewResearchExamples %}</span>
{#                <h2>Посмотреть примеры исследований</h2>#}
            <!--</a>-->
        </div>
    </div>
    <div class="row">


        <div class="row principles">
            <div class="col-xs-1 col-sm-1 col-md-1 firstBlock">
                <span class="plugin_picture">
{#            {% placeholder "shopperImg1" %}#}
                <img src="{{ MEDIA_URL }}img/mystery/mystery1.png" alt="стать тайным покупателем"
                     title="Работа Тайный Покупатель что это"/>
                </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {% placeholder "orderText1" %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
                <span class="plugin_picture">
{#                {% placeholder "shopperImg2" %}#}
                    <img src="{{ MEDIA_URL }}img/mystery/foots1.png" alt="тайный гость Россия"/>
                </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {% placeholder "orderText2" %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
            <span class="plugin_picture">
{#            {% placeholder "shopperImg3" %}#}
                <img src="{{ MEDIA_URL }}img/mystery/foots1.png" alt="тайный гость Россия"/>
            </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {% placeholder "orderText3" %}
            </div>
        </div>
        <div class="row principles second_line">
            <div class="col-xs-1 col-sm-1 col-md-1 firstBlock">
                <span class="plugin_picture">
{#            {% placeholder "shopperImg1" %}#}
                <img src="{{ MEDIA_URL }}img/mystery/foots1.png" alt="стать тайным покупателем"
                     title="Работа Тайный Покупатель что это"/>
                </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {% placeholder "orderText4" %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
                <span class="plugin_picture">
{#                {% placeholder "shopperImg2" %}#}
                    <img src="{{ MEDIA_URL }}img/mystery/foots1.png" alt="тайный гость Россия"/>
                </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {% placeholder "orderText5" %}
            </div>
            <div class="col-xs-1 col-sm-1 col-md-1 anotherBlocks">
            <span class="plugin_picture">
{#            {% placeholder "shopperImg3" %}#}
                <img src="{{ MEDIA_URL }}img/mystery/foots1.png" alt="тайный гость Россия"/>
            </span>
            </div>
            <div class="col-xs-3 col-sm-3 col-md-3">
                {% placeholder "orderText6" %}
            </div>
        </div>


    </div>
</div>
</div>

<div class="clients">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-xs-12 col-md-12">
                {% placeholder OurClientsHeader %}
{#                <h3>Наши клиенты</h3>#}
            </div>

            <div class="col-sm-12 col-xs-12 col-md-12">
                <div class="row">
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://medtest.com.ua"><img src="/media/img/mystery/medtest.png" class="img-responsive" alt="MedTest"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://cloud-europe.ru"><img src="/media/img/mystery/doud.png" class="img-responsive doud" alt="doud-europe"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://libertyads.me"><img src="/media/img/mystery/LibertyAds.png" class="img-responsive libertyImg" alt="LibertyAds"></a>
                    </div>
                    <div class="col-xs-3 col-sm-3 col-md-3">
                        <a href="http://timedoctor.com.ua"><img src="/media/img/mystery/TimeDoctor.png" class="img-responsive" alt="TimeDoctor"></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


{% addtoblock "js" %}

{#Begin zendesk code#}
<script type="text/javascript" src="//assets.zendesk.com/external/zenbox/v2.6/zenbox.js"></script>
<style type="text/css" media="screen, projection">
  @import url(//assets.zendesk.com/external/zenbox/v2.6/zenbox.css);
</style>
<script type="text/javascript">
  if (typeof(Zenbox) !== "undefined") {
    Zenbox.init({
      dropboxID:   "20289013",
      url:         "https://isells.zendesk.com",
      tabTooltip:  "Сервис",
      tabImageURL: "https://p1.zdassets.com/external/zenbox/images/tab_ru_service_right.png",
      tabColor:    "#e65b2a",
      tabPosition: "Right",
      hide_tab:    "true"
    });
  }
</script>
{#End zendesk code#}

{% endaddtoblock %}
{% endblock %}
