{% load menu_tags %}
{% for child in children %}
    <div class="right-sidebar-item {% if child.selected %}active{% endif %}"><a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"><img
    src="{{ MEDIA_URL }}img/submenu/{{ child.get_absolute_url | cut:"/" }}.png" alt="Тайный Покупатель" title="Тайный Покупатель" width="18" height="18">{{ child.get_menu_title }}</a>
</div>
{% endfor %}