{% load menu_tags %}
{% for child in children %}
    <div class="col-xs-3 col-sm-3 col-md-3 {% if not forloop.first %}{% comment %}col-md-offset-1{% endcomment %}text-center{% else %}text-left{% endif %}">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
           class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}
                {% if child.descendant %}descendant{% endif %} {% if child.selected %}active{% endif %}">
                <img src="{{ MEDIA_URL }}img/menu/{{ child.get_absolute_url | cut:"/" }}.gif"
                alt="{{ child.get_menu_title }}" title="{{ child.get_menu_title }}" width="38"
                height="39">

            <span>{{ child.get_menu_title }}</span></a></div>
{% endfor %}