{% load menu_tags %}
{% for child in children %} {% if forloop.counter <= 4 %}
    <div class="col-xs-3 col-sm-3 col-md-3">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
           class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}
                {% if child.descendant %}descendant{% endif %}">
                <img src="{{ MEDIA_URL }}img/top-submenu/{{ child.get_absolute_url | cut:"/" }}_l.gif"
                alt="{{ child.get_menu_title }}" title="{{ child.get_menu_title }}" width="72"
                height="65" class="img-responsive{% if forloop.counter == 4 %} last_submenu{% endif %}">

            <p{% if child.selected %} class="activePage"{% endif %}>{{ child.get_menu_title }}</p></a></div>
    {% endif %}
{% endfor %}