{% load menu_tags %}
{% for child in children %}
    <div class="col-xs-3 col-sm-3 col-md-2 {% if not forloop.first %}col-md-offset-1{% endif %}">
        <a href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"
           class="{% if child.selected %}selected{% endif %}{% if child.ancestor %}ancestor{% endif %}{% if child.sibling %}sibling{% endif %}
                {% if child.descendant %}descendant{% endif %} {% if child.selected %}active{% endif %}">
                <img src="{{ MEDIA_URL }}img/menu/{{ child.get_absolute_url | cut:"/" }}.gif"
                alt="{{ child.get_menu_title }}" title="{{ child.get_menu_title }}" width="60"
                height="60">

            <p>{{ child.get_menu_title }}</p></a></div>
{% endfor %}